body {
  background-color: #1c1c1c;
}
.wrap {
  width: 100%;
  overflow: auto;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.left {
  float: left;
  width: 50%;
  background: #1c1c1c;
  border-right: 2px whitesmoke solid;
}

.right {
  float: right;
  background: #1c1c1c;
  width: 50%;
}
.titleText {
  text-align: center;
  color: whitesmoke;
}
.buttonsDiv {
  display: flex;
  justify-content: space-around;
}
.button {
  background-color: #8dc12d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
}

#sportsUnSub:disabled {
  background: #999;
  color: #555;
}
#sportsRef:disabled {
  background: #999;
  color: #555;
}
#sportsSub:disabled {
  background: #999;
  color: #555;
}
#techUnSub:disabled {
  background: #999;
  color: #555;
}
#techSub:disabled {
  background: #999;
  color: #555;
}
#techRef:disabled {
  background: #999;
  color: #555;
}